Import Modules

In [1]:
import pandas as pd
import numpy as np

print (pd.__version__)
print (np.__version__)

1.3.4
1.20.3

Persiapan Data Frame

In [5]:
n_rows =10
n_cols = 5
cols =tuple ('ABCDE')

df = pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),
                 columns =cols)
df

    A   B   C   D   E
0   9  18   3   9  18
1   5   8   8   1   7
2  14  19   8  18  14
3  17   7   5  11  14
4   6  19   4  12  11
5  18   7   5   5  14
6  10   9  10   3  14
7  12  16  19  10   6
8  18  15  12  10   8
9  12   5  11  10  17

Seleksi kolom dan baris menggunakan "loc"

In [6]:
df.loc[[0,3,4],['B','E']]

    B   E
0  18  18
3   7  14
4  19  11

Seleksi baris dengan kondisi

In [7]:
df.loc[df['B']>10,['B','D','E']]

    B   D   E
0  18   9  18
2  19  18  14
4  19  12  11
7  16  10   6
8  15  10   8

Slicing Data Frame dengan loc

In [8]:
df.loc[0:4, 'B':'D']

    B  C   D
0  18  3   9
1   8  8   1
2  19  8  18
3   7  5  11
4  19  4  12